body {
    margin: auto;
    background-color: whitesmoke;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
h1 {
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

button:hover {
    outline: 3px solid green;
}



button {
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    background-color: aliceblue;
}



textarea {
    width: 20vw;
    padding: 10px;
    text-align: left;

}

footer {
    font-style: italic;
}